In [2]:
import pandas as pd
import re

Down below is the basic preprocessing of parsing the raw texts of the questions

In [2]:
data_df = pd.DataFrame(columns=['question','A','B','C','D','Answer'])
data_df

Empty DataFrame
Columns: [question, A, B, C, D, Answer]
Index: []

In [3]:
version_num = 10

In [4]:
regex_1 = '(([0-9]{1,2}\.\s*)(.+))'
regex_2 = '(\s*.*(A\s*\.\s*)(.+)(B\s*\.\s*)(.+)(C\s*\.\s*)(.+)(D\s*\.\s*)(.+))'
question_text = ''
A = '';B='';C='';D=''
f = open(r"D:\Hu Jiaoyang Files\UM\21WINTER\630\project\Data\baidu wenku\10.txt", "r", encoding='UTF-8')
answer_line = f.readline()
answers = ''
for char in answer_line.split():
    answers += char
for i in range(len(answers)):
    question_text_original = f.readline()
    question_text_original = question_text_original.replace('-','')
    match_object = re.search(regex_1,question_text_original)
    if match_object:
        question_text = match_object.group(3)
    answer_txt_original = f.readline()
    match_object = re.search(regex_2,answer_txt_original)
    if match_object:
        A = match_object.group(3)
        B = match_object.group(5)
        C = match_object.group(7)
        D = match_object.group(9)

    data_df.loc[len(data_df)] = [question_text,A,B,C,D,answers[i]]
f.close()
data_df

,question,A,B,C,D,Answer
0,Could I ask you a rather personal question? ...,"Yes, don't worry.","Of course, go ahead.","Yes, help yourself.","Of course, why not?",B
1,Teaching _______ child to cook will improve ma...,/;the,a;/,a;the,the;a,B
2,"If your wages are small, they'll be free _____...",with,about,to,of,D
3,"Liu Dehua has set up a new record, that is, th...",have reached,has reached,are reaching,is reaching,A
4,The seller would sell the skirt for fifty doll...,asked,charged,sold,offered,D
...,...,...,...,...,...,...
70,Della turned all of her pockets inside out onl...,with what to,with which she can,in which to,with which to,D
71,Whether we are out to set a new record ourselv...,makes of,makes from,makes for,makes into,C
72,Honesty is ________ he is born with.,that,which,what,when,C
73,The __________ question for him is to ________...,remaining; find out,remained; find out,remaining; find,remained; look for,A
74,________ the people have become masters of the...,Only then,It is only when,Only when,It is only then,B

In [5]:
data_df.to_csv(str(version_num)+".csv",index=False)

Down below is reading the processed data and merging them into one full csv

In [3]:
data_df = pd.DataFrame(columns=['question','A','B','C','D','Answer'])
for i in range(1,13):
    if i ==6:
        continue
    df = pd.read_csv(str(i)+".csv")
    data_df = pd.concat([data_df, df], ignore_index=True)
data_df

,question,A,B,C,D,Answer
0,I can't remember _____________ made the teach...,that it was what,what it was that,what was it that,that was it what,B
1,"He let out an ______________ cry, ""we've won!""",excited,exciting,excite,excites,A
2,Is football John's favourite sport? Yes. ____...,Near to,Except,Beside,Next to,D
3,Do you think regular exercise ___________ goo...,benefit from,reach for,make for,go for,C
4,Have you applied ___________ Mr Black _______...,for; to,with; for,with; about,to; for,D
...,...,...,...,...,...,...
482,"____ my surprise, ____ I could have a word wit...",In; before,To; before,In; when,To; since,B
483,Please put the books back ________ you can fi...,which,where,to which,in which,B
484,On their way home the couple found the neckla...,miss,missing,missed,to miss,B
485,"So far no letter ________ me, which makes me ...",reached,heard from,has reached,has heard from,C
486,"To make your voice _______, you should talk a...",hear,hearing,to hear,heard,D

In [4]:
data_df.to_csv("gaokaonet.csv",index=False)

In [4]:
gaokaonet_df = pd.read_csv("gaokaonet.csv")
gaokaonet_df.head()

,question,A,B,C,D,Answer
0,I can't remember _____________ made the teach...,that it was what,what it was that,what was it that,that was it what,B
1,"He let out an ______________ cry, ""we've won!""",excited,exciting,excite,excites,A
2,Is football John's favourite sport? Yes. ____...,Near to,Except,Beside,Next to,D
3,Do you think regular exercise ___________ goo...,benefit from,reach for,make for,go for,C
4,Have you applied ___________ Mr Black _______...,for; to,with; for,with; about,to; for,D

In [5]:
wenku_df = pd.read_csv("wenku.csv")
wenku_df.head()

,question,A,B,C,D,Answer
0,"Unfortunately, when I dropped in, Doctor Li _...",just left,has just left,is just leaving,was just leaving,D
1,He hasn't come yet.What do you consider ______...,happens,has happened,happening,to happen,B
2,______ is known to us all is that China has l...,That,What,It,As,B
3,You've made great progress in your studies o...,remains to do,is remained to do,remains to be done,is remained to be done,C
4,______ that the South African writer John Coe...,They're reported,He's reported,We're reported,It's reported,D

In [6]:
data_df = pd.concat([gaokaonet_df, wenku_df], ignore_index=True)
data_df

,question,A,B,C,D,Answer
0,I can't remember _____________ made the teach...,that it was what,what it was that,what was it that,that was it what,B
1,"He let out an ______________ cry, ""we've won!""",excited,exciting,excite,excites,A
2,Is football John's favourite sport? Yes. ____...,Near to,Except,Beside,Next to,D
3,Do you think regular exercise ___________ goo...,benefit from,reach for,make for,go for,C
4,Have you applied ___________ Mr Black _______...,for; to,with; for,with; about,to; for,D
...,...,...,...,...,...,...
1178,Della turned all of her pockets inside out onl...,with what to,with which she can,in which to,with which to,D
1179,Whether we are out to set a new record ourselv...,makes of,makes from,makes for,makes into,C
1180,Honesty is ________ he is born with.,that,which,what,when,C
1181,The __________ question for him is to ________...,remaining; find out,remained; find out,remaining; find,remained; look for,A
1182,________ the people have become masters of the...,Only then,It is only when,Only when,It is only then,B

In [7]:
data_df.to_csv("data.csv",index=False)